[Unit]
Description=awww daemon

[Service]
Type=simple
ExecStart=/home/marc/Software/awww/target/release/awww-daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
