[Unit]
Description=Set wallpaper and colorscheme using awww

[Service]
Type=oneshot
ExecStart=lua /home/marc/linux-config/scripts/change-wallpaper-smoothly.lua ordered
