.config/hypr/monitors.conf
.config/hypr/workspaces.conf
monitors/frame-hostname.conf
# workspaces/workspaces-hostname.conf
# workspaces/workspaces.conf
variables.sh
.config/alacritty/themes/noctalia.toml
.config/alacritty/themes/theme.toml
.config/gtk-3.0/gtk.css
.config/gtk-3.0/colors.css
.config/gtk-4.0/gtk.css
.config/gtk-4.0/colors.css
.config/hypr/noctalia/noctalia-colors.conf
.config/noctalia/colors.json
.config/qt6ct/colors/noctalia.conf
.config/ohmyposh/colors.json
# .config/ohmyposh/EDM115-newline.omp.json
.config/rofi/colors.rasi
.config/swaync/colors.css
.config/walker/colors.css
.config/waybar/colors.css
.config/waypaper/colors.css
.config/wlogout/colors.css
.config/hypr/matugen.conf
.config/ml4w/colors/*
current_wallpaper
lockscreen/wallpaper
